name: Docker Compose Actions Workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Create .env file
        run: cat .env.example >> .env
      - name: Build the stack
        run: docker-compose up -d
      - name: Run tests
        run: docker-compose exec -T usos-backend pytest
